.main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 20px 10px;

    &__navigation {

        ul {
            gap: 10px;
            display: flex;
        }
    }
}