.swiper {
    display: flex;
    width: 760px;
}

.imageBlock {
    width: 90px;
    height: 110px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
}

.sliderItem {
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
}

.slideLink {
    
}