.review {
    position: relative;
    padding: 10px 20px 20px;
    border-radius: 7px;
    background-color: rgba(0, 2, 18, 0.566);
    margin: 30px auto;
    width: 70%;
    box-shadow: 2px 2px 8px 0px rgba(59, 94, 121, 0.13);
    // display: flex;
    // flex-direction: column;
    // gap: 13px;
    // flex: 0 0 13px;

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
        // margin-bottom: 15px;
        height: 50px;
        // border-bottom: 2px solid rgb(95, 95, 95);

        &__userBlock {
            display: flex;
            gap: 9px;
            align-items: center;

            p {
                font-size: 19px;
            }
        }
    }

    &__content {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        max-height: 55px;

        &.fullContent {
            // max-height: auto;
            max-height: 30em;
            display: -webkit-box;
            -webkit-line-clamp: inherit;
            -webkit-box-orient: vertical;
            overflow: hidden;
            transition: all 0.3s ease-in-out;
        }
    }
}

.arrow {
    position: absolute;
    bottom: 2%;
    right: 0.2%;
    transition: all 0.32s;

    &.arrowRotate {
        transition: all 0.3s;
        transform: rotate(180deg);
    }
}

.typeLine {
    margin: 0 auto;
    margin-bottom: 12px;
    width: 95%;
    height: 2px;
    border-radius: 10px;
    background-color: white;

    &.positive {
        background-color: green;
    }

    &.negative {
        background-color: red;
    }

    &.neutral {
        background-color: gray;
    }
}